@import 'tailwindcss';

@theme {
	--color-primary: oklab(53.978% 0.10772 -0.26126);
	--color-light-primary: oklab(80.286% 0.02556 -0.07158);
	--color-light-gray: oklab(97.647% 0 0);
	--color-medium-gray: oklab(90.196% 0 0);
	--color-dark-gray: oklab(59.608% 0 0);
}

html {
	font-size: 16px;
}

body {
	font-size: 0.875rem;
}

::selection {
	background: oklab(53.874% 0.10621 -0.26186 / 0.1);
	color: oklab(53.978% 0.10772 -0.26126);
}

/* Firefox support */
::-moz-selection {
	background: oklab(53.874% 0.10621 -0.26186 / 0.1);
	color: oklab(53.978% 0.10772 -0.26126);
}
